* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color: #d3dfedff;
    width: 100%;
    height: 30%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    padding: 25%;
  }
  
  header {
    width: 100%;
    display: flex;
    text-align: center;
    flex-wrap: wrap;
  }

  .contenedor{
    background-color: #ffffffff;
    width: 300px;
    height: 455px;
    margin-top: 160px;
    margin-left: 525px;
    margin-bottom: 140px;
    border-radius: 20px;
  }

  .QR_Frontend {
    width: 82%;
    height: 17%;
    margin: 166px 328px 0px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 30px;
    margin-left: 27px;
    border-radius: 10px;
  }

  .primer_text {
    width: 227px;
    margin-top: 32px;
    margin-bottom: 33px;
    margin-left: 36px;
    margin-right: 24px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
  }

  .attribution {
    align-content: center;
    font-size: 19px;
    font-family: Calibri;
    color: hsl(227, 10%, 46%)
  }

/* Resposive design*/

@media (max-width:800px) {


    .contenedor{
        background-color: #ffffffff;
        width: 283px;
        margin-top: 67px;
        margin-left: 250px;
        border-radius: 20px;
      }


}
@media (max-width:500px) {


    .contenedor{
        background-color: #ffffffff;
        width: 283px;
        margin-top: 70px;
        margin-left: 87px;
        border-radius: 20px;
      }


}