* {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #d3dfedff;
  margin: 0;
  display: flex;
  justify-content: center;
}

.contenedor {
  background-color: #ffffffff;
  width: 14em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1em 1em 3em 1em;
  margin-top: 15em;
  border-radius: 15px;
}

.QR_Frontend {
  width: 14em;
  border-radius: 15px;
}

#qr_image {
  display: flex;
  justify-content: center;
}

.text-1 {
  text-align: center;
  margin-top: 2em;
}

.primer_text {
  width: 100%;
  font-family: Calibri;
  font-weight: bold;
  font-size: 20px;
}

.segundo_text {
  width: 100%;
  font-family: Calibri;
  font-weight: 400;
  font-size: 16px;
  color: gray;
}


/* Resposive design*/

@media (max-width:400px) {


  .contenedor {
    background-color: #ffffffff;
    width: 283px;
    margin-top: 67px;
    margin-left: 250px;
    border-radius: 20px;
  }


}